<div style="margin:0 auto; text-align:center">
    <form method="post" enctype="multipart/form-data">
        <div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
            <div class="container max-w-screen-lg mx-auto">
                <div>
                    <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                            <div class="text-gray-600">
                                <p class="font-medium text-lg">Nuevo Producto</p>
                            </div>

                            <div class="lg:col-span-2">
                                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                                    <div class="md:col-span-5">
                                        <label>Titulo Producto</label>
                                        <input type="text" name="titulo" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" />
                                    </div>

                                    <div class="md:col-span-5">
                                        <label>Descripcion</label>
                                        <input type="text" name="descripcion" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" />
                                    </div>

                                    <div class="md:col-span-3">
                                        <label>Imagen</label>
                                        <input type="file" name="file" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" />
                                    </div>

                                    <div class="md:col-span-1">
                                        <label>Precio</label>
                                        <input type="number" name="precio" class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50"/>
                                    </div>

                                    <input type="hidden" name="idartista" />

                                    <div class="md:col-span-5 text-right">
                                        <div class="inline-flex items-end">
                                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Crear Producto</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



@*<form method="post">
    <div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
      <div class="container max-w-screen-lg mx-auto">
        <div>

          <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
              <div class="text-gray-600">
                <p class="font-medium text-lg">Nuevo Producto</p>
              </div>

              <div class="lg:col-span-2">
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                  <div class="md:col-span-5">
                    <label for="full_name">Titulo Producto</label>
                    <input type="text" name="titulo" id="full_name" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
                  </div>

                  <div class="md:col-span-5">
                    <label for="images">Imagen</label>
                    <input type="text" name="imagen" id="imagen" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
                  </div>

                  <div class="md:col-span-3">
                    <label for="address">Descripcion</label>
                    <textarea name="descripcion" id="descripcion" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
                  </div>

                  <div class="md:col-span-1">
                    <label for="zipcode">Precio</label>
                    <input type="number" name="precio" id="precio" class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50" placeholder="" value="" />
                  </div>

                  <input type="hidden" name="idartista" />
      
                  <div class="md:col-span-5 text-right">
                    <div class="inline-flex items-end">
                      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Crear Producto</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <a href="https://www.buymeacoffee.com/dgauderman" target="_blank" class="md:absolute bottom-0 right-0 p-4 float-right">
          <img src="https://www.buymeacoffee.com/assets/img/guidelines/logo-mark-3.svg" alt="Buy Me A Coffee" class="transition-all rounded-full w-14 -rotate-45 hover:shadow-sm shadow-lg ring hover:ring-4 ring-white">
        </a>
      </div>
    </div>
</form>*@